.guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.guide-text h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 140% */
    
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #E6B939;
}

.guide-text h2{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    /* identical to box height, or 120% */
    
    margin-top: 10px;
    margin-bottom: 15px;
    color: #575445; 
}


.guide-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 120% */
    width: 50%;

    color: #575445;
}

.guides{
    display: flex;
    margin-top: 30px;
    gap: 150px;
}

.guides p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #575445; 
}

.guides span>img{
    width: 100%;
}

.guides>span{
    width: 50%;
}

.guides span>span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.guides span>span i{
    display: flex;
    align-items: center;
    gap: 10px;
}

.guides span>span i h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 140% */


    color: #575445;
}

.guides span>span i h2>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height, or 140% */


    color: #E6B939;
}

.show{
    display: flex;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}


@media (max-width: 650px) {
    .guides{
        flex-direction: column;
        gap: 100px;
    }

    .guides p{
        font-size: 10px;
    }
}